      <div class="row demo-tiles">
        <div class="span3">
          <div class="tile">
            <%= image_tag "illustrations/compass.png" %>
         
            <h3 class="tile-title">Basics of Finance</h3>
            <p>If you are completely new to Finance, this track is the place to start.</p>
            <a class="btn btn-primary btn-large btn-block" href="#">Go to Track</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <%= image_tag "illustrations/infinity.png" %>

            <h3 class="tile-title">Equity</h3>
            <p>Learn how to build an equity financial model from start to finish.</p>
            <%= link_to "Go to Track", courses_excel_path, :class => "btn btn-primary btn-large btn-block" %>
            <!-- <a class="btn btn-primary btn-large btn-block" href="#">Go to Track</a> -->
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <%= image_tag "illustrations/colors.png" %>

            <h3 class="tile-title">Startup</h3>
            <p>Learn to build financial models for startups or venture capital </p>
            <a class="btn btn-primary btn-large btn-block" href="#">Go to Track</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <%= image_tag "illustrations/book.png" %>

            <h3 class="tile-title">Alt. Investments</h3>
            <p>Build financial models for more differentiated investments</p>
            <a class="btn btn-primary btn-large btn-block" href="#">Go to Track</a>
          </div>
        </div>

      </div> <!-- /tiles -->