<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <title>FinanceAcademy</title>
  <meta http-equiv="X-UA-Compatible" content="IE=9">

</head>
<body>
  <div class="header">
    <%= render 'layouts/header' %>
  </div>
<div id="container" class="container-fluid">
  

  <div id="content">
    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>

    <div class="reading">
      <%= render 'layouts/reading' %>
    </div>

    <div class="lesson">
        <%= yield %>
    </div>

  </div>



</body>
</html>
